#Telosys-Tools properties
#Wed Dec 02 22:24:00 WET 2015
ProjectVariable.PROJECT_NAME=immo_server
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=com.immo
ROOT_PKG=com.immo
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
RepositoriesFolder=TelosysTools
ProjectVariable.MYVAR=foo
SRC=src/main/java
ENTITY_PKG=com.immo.bean
ProjectVariable.MAVEN_ARTIFACT_ID=immo_server
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
